@tailwind base;
@tailwind components;
@tailwind utilities;

.side_bar_shadow{
    box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
-webkit-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
-moz-box-shadow: 2px 0px 5px 0px rgba(0,0,0,0.75);
}